<!doctype html>
<html lang="en">
  <head>
    <title>LuxuryHotel a Hotel Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Rubik:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    
    <section class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="mb-5">SỬA THÔNG TIN NHÂN VIÊN</h2>
                <form action="#" method="post">
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="hoten">Tên nhân viên</label>
                      <input type="text" id="hoten" class="form-control ">
                    </div>
                  </div>
				  
				  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="hoten">Chứng minh thư</label>
                      <input type="text" id="hoten" class="form-control ">
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-md-12 form-group">
                        <label for="sodienthoai">Số điện thoại</label>
                        <input type="text" id="sodienthoai" class="form-control ">
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-sm-12 form-group">
                          <label for="">Ngày sinh</label>
                          <div style="position: relative;"> 
                            <input type="date" class="form-control" id="ngaysinhnv" name="ngaysinhnv" />
                          </div>
                      </div>
                               
                  </div>
				                  
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="email">Email</label>
                      <input type="email" id="email" class="form-control ">
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <a href="#" class="btn btn-primary" style="width:200px;">Xác nhận</a>
                    </div>
					
					<div class="col-md-6 form-group">
                       <a href="staffManager" class="btn btn-primary" style="width:200px;">Huỷ</a>
                    </div>
                  </div>
                </form>
              </div>  

<div class="col-md-1">
			  </div>
              <div class="col-md-5">
                <h3 class="mb-5">LIÊN HỆ </h3>
				<p class="mb-5"><img src="https://s3-qlks-demo.s3-ap-southeast-1.amazonaws.com/img_7.jpg" alt="" class="img-fluid" style="height:200px;width:400px;"></p>
                <div class="media d-block room mb-0">             
				  <div class="media-body">
					<h5>Quản lý Khoa (CEO)</h5>
					<h6>0367332318</h6>  <hr>
					<h5>Quản lý Vinh (CEO kỹ thuật) </h5>
					<h6>0366712521</h6> <hr>
					<h5>Anh Quang (Trưởng phòng marketing)</h5>
					<h6>0166521412</h6>  <hr>
					<h5>Chị Ngọc (Phó phòng marketing)</h5>
					<h6>0126521477</h6>  <hr>

					
				  </div>
            	</div>
		  
        </div>
      </div>
    </section>
    <!-- END section -->

  
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>

    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    <script>
      
      $('#arrival_date, #departure_date').datepicker({});

    </script>

    

    <script src="js/main.js"></script>
  </body>
</html>