<!doctype html>
<html lang="en">
  <head>
    <title>LuxuryHotel a Hotel Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Rubik:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
     <header role="banner">
     
        <nav class="navbar navbar-expand-md navbar-dark bg-light">
            <div class="container">
              <a class="navbar-brand" href="homeAdmin">LuxuryHotel</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
            <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
              <li class="nav-item">
                <a class="nav-link active" href="booknowAdmin">Đặt phòng</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="paymentAdmin">Trả phòng </a>               
              </li>
              <li class="nav-item">
                <a class="nav-link" href="roomsAdmin">Thông tin phòng</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="infocustomerAdmin">Thông tin khách hàng</a>
              </li>
			  <li class="nav-item">
                <a class="nav-link" href="staffManager">Thông tin nhân viên</a>
              </li>
               <li class="nav-item cta">
                <a class="nav-link" href="login"><span>ĐĂNG XUẤT</span></a>
              </li>
            </ul>
            
          </div>
            </div>
          </nav>
    </header>
    <!-- END header -->

    <section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url(https://s3-qlks-demo.s3-ap-southeast-1.amazonaws.com/big_image_1.jpg);">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-12 text-center">

            <div class="mb-5 element-animate">
              <h1>Quản lý thông tin nhân viên</h1>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
    <section class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 heading-wrap text-center">
            <h4 class="sub-heading">Nhân viên</h4>
              <h2 class="heading">THÔNG TIN NHÂN VIÊN</h2>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4">
            <div class="post-entry">
              <img src="https://s3-qlks-demo.s3-ap-southeast-1.amazonaws.com/person_1.jpg" alt="Image placeholder" class="img-fluid">
              <div class="body-text">
                <div class="category">NHÂN VIÊN</div>
                <h3 class="mb-3"><a href="#">Michelle Aguilar</a></h3>
                <p class="mb-4">Năm sinh: 1996</p>
				<p class="mb-4">Số điện thoại: 0903156584</p>
				<p class="mb-4">Email: aguilar92@gmail.com</p>
				<p class="mb-4">Địa chỉ: 123 Vườn xoài</p>
                <p><a href="changestaffinformation" class="btn btn-primary btn-outline-primary btn-sm">Sửa thông tin</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-entry">
              <img src="https://s3-qlks-demo.s3-ap-southeast-1.amazonaws.com/person_2.jpg" alt="Image placeholder" class="img-fluid">
              <div class="body-text">
                <div class="category">NHÂN VIÊN</div>
                <h3 class="mb-3"><a href="#">Chris Standworth</a></h3>
                <p class="mb-4">Năm sinh: 1992</p>
				<p class="mb-4">Số điện thoại: 0165212432</p>
				<p class="mb-4">Email: standworth92@gmail.com</p>
				<p class="mb-4">Địa chỉ: 77 Lê Lợi</p>
                <p><a href="changestaffinformation" class="btn btn-primary btn-outline-primary btn-sm">Sửa thông tin</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-entry">
              <img src="https://s3-qlks-demo.s3-ap-southeast-1.amazonaws.com/person_3.jpg" alt="Image placeholder" class="img-fluid">
              <div class="body-text">
                <div class="category">NHÂN VIÊN</div>
                <h3 class="mb-3"><a href="#">Rob McDonald</a></h3>
                <p class="mb-4">Năm sinh: 1995</p>
				<p class="mb-4">Số điện thoại: 0907152141</p>
				<p class="mb-4">Email: donald98@gmail.com</p>
				<p class="mb-4">Địa chỉ: 66 Trường Sa</p>
                <p><a href="changestaffinformation" class="btn btn-primary btn-outline-primary btn-sm">Sửa thông tin</a></p>
              </div>
            </div>
          </div>
        </div>
		
		<div class="row ">
          <div class="col-md-4">
            <div class="post-entry">
              <img src="https://s3-qlks-demo.s3-ap-southeast-1.amazonaws.com/person_7.jpg" alt="Image placeholder" class="img-fluid">
              <div class="body-text">
                <div class="category">NHÂN VIÊN</div>
                <h3 class="mb-3"><a href="#">Nguyễn Ngọc Linh</a></h3>
                <p class="mb-4">Năm sinh: 1996</p>
				<p class="mb-4">Số điện thoại: 0903152587</p>
				<p class="mb-4">Email: ngoclinh96@gmail.com</p>
				<p class="mb-4">Địa chỉ: 33 Nguyễn Trãi</p>
                <p><a href="changestaffinformation" class="btn btn-primary btn-outline-primary btn-sm">Sửa thông tin</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-entry">
              <img src="https://s3-qlks-demo.s3-ap-southeast-1.amazonaws.com/person_8.jpg" alt="Image placeholder" class="img-fluid">
              <div class="body-text">
                <div class="category">NHÂN VIÊN</div>
                <h3 class="mb-3"><a href="#">Lê Thị Ngọc</a></h3>
                <p class="mb-4">Năm sinh: 1997</p>
				<p class="mb-4">Số điện thoại: 0166451945</p>
				<p class="mb-4">Email: ngoc9784@gmail.com</p>
				<p class="mb-4">Địa chỉ: 143 Lê Lai</p>
                <p><a href="changestaffinformation" class="btn btn-primary btn-outline-primary btn-sm">Sửa thông tin</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-entry">
              <img src="https://s3-qlks-demo.s3-ap-southeast-1.amazonaws.com/person_9.jpg" alt="Image placeholder" class="img-fluid">
              <div class="body-text">
                <div class="category">NHÂN VIÊN</div>
                <h3 class="mb-3"><a href="#">Huỳnh Đăng Quang</a></h3>
                <p class="mb-4">Năm sinh: 1995</p>
				<p class="mb-4">Số điện thoại: 0165125444</p>
				<p class="mb-4">Email: quang95@gmail.com</p>
				<p class="mb-4">Địa chỉ: 231 Cộng Hoà</p>
                <p><a href="changestaffinformation" class="btn btn-primary btn-outline-primary btn-sm">Sửa thông tin</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    
    
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>

    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>

    <script src="js/main.js"></script>
  </body>
</html>